#no-content {
    /* border-style: solid;
    border-color: black; */
    border-width: 5px;
    font-size: 40px;
    padding: 30px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5%;
    background-color: white;
    color: black;
    padding: 10px;
    text-align: center;
}