#topbar {
    background-color:black;
    height: 50px;
}

#topbar #heading {
    height: 50px;
    float: left;
    margin-left: 10px;
    color: white;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

#topbar #options {
    height: 50px;
    float: right;
    margin-right: 20px;
    color: white;
}

#topbar #options #button {
    height: 38px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 12px;
    font-size: 25px;
}

#topbar #options #button:hover {
    background-color: white;
    color: black;
    text-decoration: underline;
}

#topbar #options #button.selected {
    /* background-color: white;
    color: black; */
    text-decoration: underline;
}
